# define window colors
set $bg-color 	         #485061
set $inactive-bg-color   #2f343f
set $text-color          #f3f4f5
set $inactive-text-color #676E7D
set $urgent-bg-color     #E53935

# window colors
#                       border              background         text                 indicator
#client.focused          $bg-color           $bg-color          $text-color          $bg-color
#client.unfocused        $inactive-bg-color $inactive-bg-color $inactive-text-color $bg-color
#client.focused_inactive $inactive-bg-color $inactive-bg-color $inactive-text-color $bg-color
#client.urgent           $urgent-bg-color    $urgent-bg-color   $text-color          $bg-color

# # ========= old theme
# set $bg-color #222222ee
# set $bg-focused #666666ee
# set $inactive-bg-color #222222cc
# set $unfocused-bg-color #22222299
# set $text-color #ffffff
# set $unfocused-text #888888
# set $urgent-color #2f343a
# set $unfocused-urgent #900000ee

# ========= catpuccino
#peach
set $bg-focused #494d64
#mantle
set $inactive-bg-color #1e2030
#crust
set $unfocused-bg-color #24273a
set $text-color $text
set $unfocused-text $text
set $urgent-color #2f343a
set $unfocused-urgent #900000ee

#class                   border               backgr.              text             indicator            child_border
client.focused           $bg-focused          $bg-focused          $text-color      #666666ee            $bg-focused
client.focused_inactive  $inactive-bg-color   $inactive-bg-color   $unfocused-text  $inactive-bg-color   $inactive-bg-color
client.unfocused         $unfocused-bg-color  $unfocused-bg-color  $unfocused-text  $unfocused-bg-color  $unfocused-bg-color
client.urgent            $urgent-color        $unfocused-urgent    $text-color      $unfocused-urgent    $unfocused-urgent
client.placeholder       #000000              #000000              $text-color      #000000              #000000
client.background        $text-color                                                                     

#set $acolor #d64161

## set other colors
#set $bgicolor #00979E
#set $bgucolor #6a6868
#set $txtacolor #F9FAF9
#set $txtucolor #bdbbbb
#set $indcolor #4deb56

## class                   border  backgr. text    indic.   child_border
#client.focused          $acolor $acolor $txtacolor $indcolor $acolor
#client.focused_inactive $bgicolor $bgicolor $txtacolor $indcolor $bgicolor
#client.unfocused        $bgucolor $bgucolor $txtucolor $indcolor $bgucolor

# vim: set ft=i3config
