# workspace with mode selection
mode ws {
bindsym Escape mode default
bindsym $mod+F10 mode default
bindsym 1 workspace $ws1; mode default
bindsym 2 workspace $ws2; mode default
bindsym 3 workspace $ws3; mode default
bindsym 4 workspace $ws4; mode default
bindsym 5 workspace $ws5; mode default
bindsym 6 workspace $ws6; mode default
bindsym 7 workspace $ws7; mode default
bindsym 8 workspace $ws8; mode default
bindsym 9 workspace $ws9; mode default
bindsym 0 workspace $ws10; mode default
bindsym a workspace $wsA; mode default
bindsym b workspace $wsB; mode default
bindsym c workspace $wsC; mode default
bindsym d workspace $wsD; mode default
bindsym e workspace $wsE; mode default
bindsym f workspace $wsF; mode default
bindsym g workspace $wsG; mode default
bindsym h workspace $wsH; mode default
bindsym i workspace $wsI; mode default
bindsym j workspace $wsJ; mode default
bindsym k workspace $wsK; mode default
bindsym l workspace $wsL; mode default
bindsym m workspace $wsM; mode default
bindsym n workspace $wsN; mode default
bindsym o workspace $wsO; mode default
bindsym p workspace $wsP; mode default
bindsym q workspace $wsQ; mode default
bindsym r workspace $wsR; mode default
bindsym s workspace $wsS; mode default
bindsym t workspace $wsT; mode default
bindsym u workspace $wsU; mode default
bindsym v workspace $wsV; mode default
bindsym w workspace $wsW; mode default
bindsym x workspace $wsX; mode default
bindsym y workspace $wsY; mode default
bindsym z workspace $wsZ; mode default
}
bindsym $mod+F10 mode ws

mode wsm {
bindsym Escape mode default
bindsym $mod+F11 mode default
bindsym 1 move container to workspace $ws1; mode default
bindsym 2 move container to workspace $ws2; mode default
bindsym 3 move container to workspace $ws3; mode default
bindsym 4 move container to workspace $ws4; mode default
bindsym 5 move container to workspace $ws5; mode default
bindsym 6 move container to workspace $ws6; mode default
bindsym 7 move container to workspace $ws7; mode default
bindsym 8 move container to workspace $ws8; mode default
bindsym 9 move container to workspace $ws9; mode default
bindsym 0 move container to workspace $ws10; mode default
bindsym a move container to workspace $wsA; mode default
bindsym b move container to workspace $wsB; mode default
bindsym c move container to workspace $wsC; mode default
bindsym d move container to workspace $wsD; mode default
bindsym e move container to workspace $wsE; mode default
bindsym f move container to workspace $wsF; mode default
bindsym g move container to workspace $wsG; mode default
bindsym h move container to workspace $wsH; mode default
bindsym i move container to workspace $wsI; mode default
bindsym j move container to workspace $wsJ; mode default
bindsym k move container to workspace $wsK; mode default
bindsym l move container to workspace $wsL; mode default
bindsym m move container to workspace $wsM; mode default
bindsym n move container to workspace $wsN; mode default
bindsym o move container to workspace $wsO; mode default
bindsym p move container to workspace $wsP; mode default
bindsym q move container to workspace $wsQ; mode default
bindsym r move container to workspace $wsR; mode default
bindsym s move container to workspace $wsS; mode default
bindsym t move container to workspace $wsT; mode default
bindsym u move container to workspace $wsU; mode default
bindsym v move container to workspace $wsV; mode default
bindsym w move container to workspace $wsW; mode default
bindsym x move container to workspace $wsX; mode default
bindsym y move container to workspace $wsY; mode default
bindsym z move container to workspace $wsZ; mode default
}
bindsym $mod+F11 mode wsm

mode wsms {
bindsym Escape mode default
bindsym $mod+F12 mode default
bindsym 1 move container to workspace $ws1; workspace $ws1; mode default
bindsym 2 move container to workspace $ws2; workspace $ws2; mode default
bindsym 3 move container to workspace $ws3; workspace $ws3; mode default
bindsym 4 move container to workspace $ws4; workspace $ws4; mode default
bindsym 5 move container to workspace $ws5; workspace $ws5; mode default
bindsym 6 move container to workspace $ws6; workspace $ws6; mode default
bindsym 7 move container to workspace $ws7; workspace $ws7; mode default
bindsym 8 move container to workspace $ws8; workspace $ws8; mode default
bindsym 9 move container to workspace $ws9; workspace $ws9; mode default
bindsym 0 move container to workspace $ws10; workspace $ws10; mode default
bindsym a move container to workspace $wsA; workspace $wsA; mode default
bindsym b move container to workspace $wsB; workspace $wsB; mode default
bindsym c move container to workspace $wsC; workspace $wsC; mode default
bindsym d move container to workspace $wsD; workspace $wsD; mode default
bindsym e move container to workspace $wsE; workspace $wsE; mode default
bindsym f move container to workspace $wsF; workspace $wsF; mode default
bindsym g move container to workspace $wsG; workspace $wsG; mode default
bindsym h move container to workspace $wsH; workspace $wsH; mode default
bindsym i move container to workspace $wsI; workspace $wsI; mode default
bindsym j move container to workspace $wsJ; workspace $wsJ; mode default
bindsym k move container to workspace $wsK; workspace $wsK; mode default
bindsym l move container to workspace $wsL; workspace $wsL; mode default
bindsym m move container to workspace $wsM; workspace $wsM; mode default
bindsym n move container to workspace $wsN; workspace $wsN; mode default
bindsym o move container to workspace $wsO; workspace $wsO; mode default
bindsym p move container to workspace $wsP; workspace $wsP; mode default
bindsym q move container to workspace $wsQ; workspace $wsQ; mode default
bindsym r move container to workspace $wsR; workspace $wsR; mode default
bindsym s move container to workspace $wsS; workspace $wsS; mode default
bindsym t move container to workspace $wsT; workspace $wsT; mode default
bindsym u move container to workspace $wsU; workspace $wsU; mode default
bindsym v move container to workspace $wsV; workspace $wsV; mode default
bindsym w move container to workspace $wsW; workspace $wsW; mode default
bindsym x move container to workspace $wsX; workspace $wsX; mode default
bindsym y move container to workspace $wsY; workspace $wsY; mode default
bindsym z move container to workspace $wsZ; workspace $wsZ; mode default
}
bindsym $mod+F12 mode wsms

# bindsym $mod+m mode "transparency"
mode "transparency" {
	bindsym 1 exec transset-df -a 0.1
	bindsym 2 exec transset-df -a 0.2
	bindsym 3 exec transset-df -a 0.3
	bindsym 4 exec transset-df -a 0.4
	bindsym 5 exec transset-df -a 0.5
	bindsym 6 exec transset-df -a 0.6
	bindsym 7 exec transset-df -a 0.7
	bindsym 7 exec transset-df -a 0.7
	bindsym 8 exec transset-df -a 0.8
	bindsym 9 exec transset-df -a 0.9
	bindsym 0 exec transset-df -a 1
	bindsym Escape mode "default"
	bindsym $mod+m mode "default"
}

# bindsym $mod+Control+t mode gaps
mode gaps {
	# change focus
	bindsym $mod+h focus left
	bindsym $mod+j focus down
	bindsym $mod+k focus up
	bindsym $mod+l focus right

	bindsym Escape mode default
	bindsym $mod+t mode default

	# change gaps
	bindsym h gaps inner current minus 5
	bindsym l gaps inner current plus 5
	bindsym j gaps outer current minus 5
	bindsym k gaps outer current plus 5
	bindsym u gaps vertical current minus 5
	bindsym i gaps vertical current plus 5
	bindsym z gaps horizontal current minus 5
	bindsym o gaps horizontal current plus 5
	bindsym a gaps left current minus 5
	bindsym s gaps bottom current minus 5
	bindsym d gaps top current minus 5
	bindsym f gaps right current minus 5
	bindsym q gaps left current plus 5
	bindsym w gaps bottom current plus 5
	bindsym e gaps top current plus 5
	bindsym r gaps right current plus 5

	# toggle border style
	bindsym b border toggle
	bindsym n border none
	# restore defaults
	bindsym c gaps inner current set 5 ; gaps outer current set 5 ; border pixel 3
	bindsym x gaps inner current set 0; gaps outer current set 0
}

# vim: set ft=i3config
