
# plasma compatibility
for_window [title="Desktop — Plasma"] kill; floating enable; border none
for_window [class="plasmashell"] floating enable;
for_window [instance="plasmashell"] floating enable;
for_window [class="Plasma"] floating enable; border none
for_window [title="plasma-desktop"] floating enable; border none
for_window [title="win7"] floating enable; border none
for_window [class="krunner"] floating enable; border none
for_window [class="Kmix"] floating enable; border none
for_window [class="Klipper"] floating enable; border none
for_window [class="Plasmoidviewer"] floating enable; border none
for_window [class="(?i)*nextcloud*"] floating disable
for_window [class="plasmashell" window_type="notification"] floating enable, border none , move right 700px, move up 450px
no_focus [class="plasmashell" window_type="notification"]

# window roles
#for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable

# window rules
for_window [instance="origin.exe"] floating enable;
for_window [class="steam" title="Friends List"] resize set width 15 ppt;
for_window [class="steam" title="Steam Guard"] floating enable;
for_window [class="steam" title="Steam - News"] floating enable;
for_window [class="firefox"] border pixel 3;
for_window [instance="Places" class="firefox"] floating enable;
for_window [class="Alacritty"] border pixel 3;
for_window [class="kitty"] border pixel 3;
for_window [class="org.wezfurlong.wezterm"] border pixel 3;
for_window [class="battle.net.exe"] floating enable;
# for_window [class="spotify"] workspace "99:"
# for_window [instance="Mail"] workspace "98:󰇮"

# command criteria
# all - matches all windows
# class - second part of WM_CLASS
# instance - frist part of WM_CLASS
# window_role - WM_WINDOW_ROLE
# window_type - _NET_WM_WINDOW_TYPE
# machine - WM_CLIENT_MACHINE
# id - xwininfo window_id
# title - _NET_WM_NAME or WM_NAME
# urgent - "latest" or "oldest" matches urgent windows
# workspace - matches workspace name
# con_mark - matches containers mark name
# con_id - internal i3 id accessible via i3ips
# floating - matches floating windows
# floating_from - "auto" (windows automatically opened as floating) or "user" (windows that were made floating dy user)
# tiling - match tiled windows
# tiling_from - same as floating_from

# insert new containers to mark
for_window [window_type="normal"] move container to mark insert
#bindsym $mod+p move container to mark insert
#bindsym $mod+Control+p mark --toggle insert

# assign workspace to monitor
workspace 8 output HDMI-0
workspace 4 output DP-0
workspace 1 output DP-2
workspace 2 output DP-2
workspace 3 output DP-2
workspace 5 output DP-2
workspace 6 output DP-2
workspace 7 output DP-2

# workspace assignments
assign [instance="^league"] $ws_game
assign [instance="^riot"] $ws_game
assign [title="^League"] $ws_game
assign [class="discord"] $ws_comm
assign [class="Steam"] $ws_steam
assign [class="steam"] $ws_steam
assign [title="Steam"] $ws_steam
assign [title="steam"] $ws_steam
assign [instance="upc.exe"] $ws_game
assign [instance="anno*"] $ws_game
assign [instance="origin.exe"] $ws_game
assign [instance="lutris"] $ws_game
#assign [instance="^gimp*"] $wsG
#exec "i3-msg workspace $wsG, append_layout .config/i3/layout/gimp.json"

# vim: set ft=i3config
