[submodule ".oh-my-zsh/custom/plugins/fzf-zsh-plugin"]
	path = .oh-my-zsh/custom/plugins/fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin
[submodule ".oh-my-zsh/custom/plugins/command-time"]
	path = .oh-my-zsh/custom/plugins/command-time
	url = https://github.com/popstas/zsh-command-time
[submodule "/tank/home/.oh-my-zsh/custom/plugins/zsh-fzf-history-search"]
	path = /tank/home/.oh-my-zsh/custom/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
[submodule ".oh-my-zsh/custom/plugins/zsh-fzf-history-search"]
	path = .oh-my-zsh/custom/plugins/zsh-fzf-history-search
	url = https://github.com/joshskidmore/zsh-fzf-history-search
