
* {
    border-radius: 0;
    font-family: 'Operator Mono SSm Book';
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: #1E1E28;
    color: #DADAE8;
}

tooltip {
	background: #1E1E28;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #a4b9ef;
	}

#workspaces {
    background: #332E41;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 0px 15px 15px 0px;
}

#workspaces button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 0;
    color: #DADAE8;
}

#workspaces button.active {
    color: #A4B9EF;
    border-color: #A4B9EF;
    border-style: solid none none none;
    border-width: 2px;
}

#workspaces button.urgent {
    color: #F9C096;
    border-color: #F9C096;
    border-style: solid none none none;
    border-width: 2px;
}

#workspaces button:hover {
    background: #332e41;
    border-color: #332e41;
	color: #A4B9EF;
}

#tray, #network, #cpu, #memory, #battery, #pulseaudio, #workspaces, #mpd, #backlight  {
	padding-left: 8px;
	padding-right: 8px;
    background: #332E41;
    margin-top: 2px;
    margin-bottom: 2px;
}

#cpu {
    padding-left: 15px;
    padding-right: 2px;
    background: #332E41;
    border-radius: 15px 0px 0px 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#custom-vpn {
    background: #332E41;
    padding-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* #pulseaudio { */
/*     padding-right: 15px; */
/*     margin-right: 5px; */
/*     border-radius: 0px 15px 15px 0px; */
/* } */

#clock, #custom-spotify {
    background: #332E41;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
}
