# ========= catpuccino
set $base      #24273a
set $mantle    #1e2030
set $surface0  #363a4f
set $surface1  #494d64
set $surface2  #5b6078
set $text      #cad3f5
set $rosewater #f4dbd6
set $lavender  #b7bdf8
set $red       #ed8796
set $peach     #f5a97f
set $yellow    #eed49f
set $green     #a6da95
set $teal      #8bd5ca
set $blue      #8aadf4
set $mauve     #c6a0f6
set $flamingo  #f0c6c6

#class                   border     backgr.    text   indicator  child_border
client.focused           $surface2  $surface1  $text  $surface1  $surface1
client.focused_inactive  $surface1  $surface0  $text  $surface0  $surface0
client.unfocused         $surface0  $base      $text  $base      $base
client.urgent            $surface2  $red       $text  $red       $red
client.placeholder       $base      $base      $text  $base      $base
client.background        $base                                   

# vim: set ft=i3config
